body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin: 0;
}
.head-1 {
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}
.head-2 {
  font-size: 3rem;
}

:root {
  --canvasColor: #f1f9ff;
  /*  --headingColor: #30a0fc; */
  --headingColor: #2699fb;
  --headingActivty: #2d9cfb;
  --unActive: cccccc;
  --border: #bce0fd;
  /* --border: #ddeffe; */
  --questions: #fcfdff;
  --white: #fff;
  --activity-border: #f3f9fe;
  --grey: #d9d9d9;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.canvas {
  height: 100vh;
  background-color: var(--canvasColor);
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
.card {
  text-align: center;
  background-color: var(--white);

  border: 2px solid var(--border);
}
.card-heading {
  padding: 30px;
}
.heading {
  color: var(--headingColor);
}

.activty {
  background-color: var(--questions);
  border: 1px solid var(--activity-border);
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--headingActivty);
}
.activty h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: var(--headingActivty);
}

.activity-link {
  text-decoration: none;
}

.resultsContainer h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 30px;
  color: var(--grey);
}

.question-card__container {
  background-color: var(--white);
  border: 1px solid var(--border);
  width: 600px;
}
.question-Container {
  background-color: var(--questions);
  padding: 20px 30px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  color: var(--headingColor);
}
.question {
  margin: 0;
  font-weight: 400;
}
.card-heading__container {
  padding: 60px 30px;
}
.activity_head {
  text-transform: uppercase;
  text-align: justify;
}
.answer-block {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}
.btn-questions {
  background-color: transparent;
  border: none;
  color: var(--headingColor);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
.home_container h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 30px;
  color: var(--headingActivty);
}

.results {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.results-cards {
  width: auto;
  margin: 0 auto;
}
.round-container {
  padding: 20px;
}
.round-results {
  text-align: center;
}

/* media queries */
@media (max-width: 1280px) {
  .question-card__container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
}
.bolder {
  font-weight: bolder;
}
